* {
    margin: 0;
    padding: 0;
}
.dog-container {
    display: grid;
    height: 100%;
}
.dog-img {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

/*html { 
    background: url(https://upload.wikimedia.org/wikipedia/en/thumb/0/01/Sans_undertale.jpg/220px-Sans_undertale.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/